<%- include('partials/_header'); %>
<!--  -->
<%- include('partials/_navigation'); %>

<div class="all-title-box">
  <div class="container text-center">
    <h1>
      Contact<span class="m_1"
        >Lorem Ipsum dolroin gravida nibh vel velit.</span
      >
    </h1>
  </div>
</div>

<div id="contact" class="section wb">
  <div class="container">
    <div class="section-title text-center">
      <h3>Get In Touch With Us!</h3>
      <p class="lead">
        Let us give you more details about the special offer website you want
        us. Please fill out the form below. <br />We have million of website
        owners who happy to work with us!
      </p>
    </div>
    <!-- end title -->
    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="row">
      <div class="offset-1 col-xl-10 col-md-10 col-sm-10">
        <div class="contact_form">
          <div id="message"></div>
          <form
            id="contactform"
            class=""
            action="/contact"
            name="contactform"
            method="POST"
            onsubmit="return check_captcha_filled()"
          >
            <div class="row row-fluid">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input
                  type="text"
                  name="name"
                  id="first_name"
                  class="form-control"
                  placeholder="Your Name"
                />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="Your Email"
                />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <textarea
                  class="form-control"
                  name="message"
                  id="comments"
                  rows="6"
                  placeholder="Give us more details.."
                ></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div
                  class="g-recaptcha"
                  name="g-recaptcha"
                  data-sitekey="6Lf7Yp0fAAAAAHNEnkR6W-x4Sq2SAb-Ik3k4Y-iZ"
                  data-callback="captcha_filled"
                  data-expired-callback="captcha_expired"
                ></div>
              </div>
              <div class="text-center pd">
                <button
                  type="submit"
                  value="SEND"
                  id="submit"
                  class="btn btn-light btn-radius btn-brd grd1 btn-block"
                >
                  SEND
                </button>
              </div>
            </div>
          </form>
          <script>
            // By default do not allow form submission.
            var allow_submit = false;

            function captcha_filled() {
              /*
               * This is called when Google get's the recaptcha response and approves it.
               * Setting allow_submit = true will let the form POST as normal.
               * */

              allow_submit = true;
            }

            function captcha_expired() {
              /*
               * This is called when Google determines too much time has passed and expires the approval.
               * Setting allow_submit = false will prevent the form from being submitted.
               * */

              allow_submit = false;
            }

            function check_captcha_filled(e) {
              console.log('verify-captcha');
              /*
               * This will be called when the form is submitted.
               * If Google determines the captcha is OK, it will have
               * called captcha_filled which sets allow_submit = true
               * If the captcha has not been filled out, allow_submit
               * will still be false.
               * We check allow_submit and prevent the form from being submitted
               * if the value of allow_submit is false.
               * */

              // If captcha_filled has not been called, allow_submit will be false.
              // In this case, we want to prevent the form from being submitted.
              if (!allow_submit) {
                // This call prevents the form submission.
                // e.preventDefault()

                // This alert is temporary - you should replace it with whatever you want
                // to do if the captcha has not been filled out.
                alert(
                  'ERROR: Please verify you are human by filling out the captcha'
                );

                return false;
              }
              captcha_expired();
              return true;
            }
          </script>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->

<!--  -->
<%- include('partials/_footer'); %>
